version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
    labels:
      - dependencies
      - js

  - package-ecosystem: cargo
    directory: /src-tauri
    schedule:
      interval: daily
    labels:
      - dependencies
      - rust